footer,header,main,nav,section {
    display: block;
}

[hidden] {
    display: none;
}

html {
    background: #eeeeee;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.profile_sidebar,.settings_sidebar {
    min-height: 1px;
    width: 300px;
    float: left;
}

.profile_main,.settings_main {
    margin-left: 314px;
}

.profile_content {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 14px auto 0;
    padding: 0 10px;
    position: relative;
    text-align: left;
}

body.auth,body.register {
    min-height: auto;
}

a:focus {
    outline: thin dotted;
}

a:active,a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

b {
    font-weight: bold;
}

code {
    font-family: monospace, serif;
    font-size: 1em;
}

img {
    border: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

p {
    margin: 1em 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.standart_form .fields_group {
    margin: 17px 0 20px;
}

.standart_form .buttons {
    margin: 0px -17px -17px;
    background: #f7f7f7;
    padding: 20px 17px;
}

.standart_form .buttons .button+.button {
    margin-left: 17px;
}

.standart_form .buttons span.info {
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    font-size: 15px;
    margin-left: 24px;
}

.standart_form .buttons span.info a {
    font-weight: bold;
}

.standart_form .field+.field {
    position: relative;
    margin-top: 38px;
}

.standart_form .field {
    max-width: 560px;
    position: relative;
}

.standart_form .label {
    color: #464646;
    font-size: 15px;
    font-weight: bold;
}

.standart_form .input {
    display: block;
    position: relative;
    margin-top: 14px;
}

.standart_form .input input.text {
    background: #ebebeb;
    color: #464646;
    border: 0;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 10px;
    display: block;
    width: 100%;
}

.standart_form .input input.text:focus {
    outline: none;
    background-color: #f2f2f2;
}

.standart_form .input input.text:disabled {
    background-color: #f8f8f8;
    color: #b2b2b2;
}

.standart_form .field_error input.text,.standart_form .input .field_error input.text {
    background: #ffedeb;
}

.standart_form .input textarea.text {
    background: #ebebeb;
    color: #464646;
    font-size: 15px;
    border: 0;
    padding: 10px 10px;
    width: 100%;
    max-height: 400px;
    resize: none;
}

.standart_form .input textarea.text:focus {
    outline: none;
    background-color: #f2f2f2;
}

.standart_form .fields_title {
    color: #48525b;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.standart_form .fields_text {
    font-size: 13px;
    display: block;
    color: #aeb8bc;
    margin-bottom: 20px;
}

.standart_form .field .input.date input[type="text"],.standart_form .field .input.date input[type="password"] {
    width: 150px;
}

.standart_form .field .input.price input[type="text"] {
    width: 150px;
}

.standart_form .field .input.price select,.standart_form .field .input.price .js-select2 {
    width: 150px;
}

.standart_form .field .input.salary_from_to {
    font-size: 0;
}

.standart_form .field .input.salary_from_to input.text {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}

.standart_form .field .input.salary_from_to select {
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 192px;
}

.button .default {
    display: inline;
}

.button:hover .default,.button:active .default {
    display: none;
}

a.button,button.button {
    cursor: pointer;
}

.button [class^="icon-"],.button [class*=" icon-"] {
    vertical-align: text-bottom;
    margin-right: 7px;
    margin-left: 1px;
    font-size: 16px;
}

.button.btn-blue {
    background-color: #5677fc;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    height: 36px;
    line-height: 36px;
    padding: 0 13px;
    border: 0;
}

.button.btn-blue:hover {
    background-color: #738efa;
}

.button.btn-blue:active {
    background-color: #435dc8;
}

.button.btn-blue:disabled {
    background-color: #a0b0f3;
}

.button.btn-orange {
    background-color: #ff6008;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    height: 36px;
    line-height: 36px;
    padding: 0 13px;
}

.button.btn-orange:hover {
    background-color: #fd7d37;
}

.button.btn-orange:active {
    background-color: #ce510c;
}

.button.btn-orange:disabled {
    background-color: #f5a579;
}

.button.btn-no-padding {
    padding: 0 0px;
}

.no_content {
    text-align: center;
    padding: 50px 0;
}

.no_content .icon {
    text-align: center;
}

.no_content .icon img {
    display: block;
    margin: 0px auto 25px;
}

.no_content .title {
    font-size: 25px;
    color: #464646;
    width: 330px;
    margin: 0px auto 7px;
}

.no_content .text {
    font-size: 15px;
    color: #999999;
    line-height: 21px;
    width: 350px;
    margin: auto;
}

.no_content .buttons {
    margin-top: 20px;
}

.no_content .buttons .button+.button {
    margin-left: 14px;
}

html {
    height: 100%;
}

body {
    min-width: 1024px;
    height: auto;
    background: #eeeeee;
    text-align: center;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1463d9;
}

a:link {
    text-decoration: none;
    color: #1463d9;
}

a:hover {
    text-decoration: underline;
}

a:hover,a:active,a:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.clear {
    clear: both;
}

.layout {
    width: 450px;
    margin: 50px auto 30px;
}

.header .logo {
    display: block;
    margin: 0 auto 23px;
    font-size: 100px !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 145px;
}

.content {
    text-align: left;
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #999999;
    font-size: 15px;
}

.footer a {
    color: #999999;
}

.section {
    box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
    background: #fff;
    padding: 35px 44px 40px;
}

.section .head .title {
    color: #464646;
    font-size: 27px;
    padding-bottom: 18px;
    text-align: center;
}

.standart_form .field+.field {
    margin-top: 20px;
}

.standart_form .label {
    font-weight: normal;
}

.standart_form .input {
    margin-top: 7px;
}

.standart_form .input input.text {
    padding: 7px 10px 6px;
}

.login_with {
    margin-bottom: 22px;
}

.login_with .title {
    color: #464646;
    font-size: 17px;
    font-weight: bold;
}

.login_with .label {
    font-size: 17px;
    font-weight: bold;
    color: #464646;
}

.login_with .buttons_wide {
    margin-top: 24px;
}

.buttons_wide {
    margin-top: 20px;
}

.buttons_wide .button {
    width: 100%;
}

.footer_text {
    margin-top: 8px;
    font-size: 15px;
    line-height: 21px;
    color: #999999;
}

.footer_text a {
    font-weight: bold;
}

.text {
    color: #464646;
    line-height: 23px;
    font-size: 17px;
}

.text a {
    font-weight: bold;
}

.registrate_button {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    color: #999999;
}

.info_text {
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    color: #999999;
    margin-bottom: 24px;
    margin-top: -11px;
}

.logo {
    margin: 1em auto;
}

body {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes a {
    0% {
        opacity: 0;
        bottom: -15px;
        max-height: 0;
        max-width: 0;
        margin-top: 0;
    }

    30% {
        opacity: .8;
        bottom: -3px;
    }

    to {
        opacity: 1;
        bottom: 0;
        max-height: 200px;
        margin-top: 12px;
        max-width: 400px;
    }
}

@keyframes a {
    0% {
        opacity: 0;
        bottom: -15px;
        max-height: 0;
        max-width: 0;
        margin-top: 0;
    }

    30% {
        opacity: .8;
        bottom: -3px;
    }

    to {
        opacity: 1;
        bottom: 0;
        max-height: 200px;
        margin-top: 12px;
        max-width: 400px;
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 1;
        bottom: 0;
    }

    30% {
        opacity: .2;
        bottom: -3px;
    }

    to {
        opacity: 0;
        bottom: -15px;
    }
}

@keyframes b {
    0% {
        opacity: 1;
        bottom: 0;
    }

    30% {
        opacity: .2;
        bottom: -3px;
    }

    to {
        opacity: 0;
        bottom: -15px;
    }
}

@-webkit-keyframes c {
    0% {
        opacity: 0;
    }

    30% {
        opacity: .5;
    }

    to {
        opacity: .6;
    }
}

@keyframes c {
    0% {
        opacity: 0;
    }

    30% {
        opacity: .5;
    }

    to {
        opacity: .6;
    }
}

@-webkit-keyframes d {
    0% {
        opacity: .6;
    }

    30% {
        opacity: .1;
    }

    to {
        opacity: 0;
    }
}

@keyframes d {
    0% {
        opacity: .6;
    }

    30% {
        opacity: .1;
    }

    to {
        opacity: 0;
    }
}

.notyf__icon--alert,.notyf__icon--confirm {
    height: 21px;
    width: 21px;
    background: #fff;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.notyf__icon--alert:after,.notyf__icon--alert:before {
    content: "";
    background: #ed3d3d;
    display: block;
    position: absolute;
    width: 3px;
    border-radius: 3px;
    left: 9px;
}

.notyf__icon--alert:after {
    height: 3px;
    top: 14px;
}

.notyf__icon--alert:before {
    height: 8px;
    top: 4px;
}

.notyf__icon--confirm:after,.notyf__icon--confirm:before {
    content: "";
    background: #3dc763;
    display: block;
    position: absolute;
    width: 3px;
    border-radius: 3px;
}

.notyf__icon--confirm:after {
    height: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
    left: 6px;
}

.notyf__icon--confirm:before {
    height: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
    left: 10px;
}

.notyf__toast {
    display: block;
    overflow: hidden;
    -webkit-animation: a .3s forwards;
    animation: a .3s forwards;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .45);
    position: relative;
    padding-right: 13px;
}

.notyf__toast.notyf--alert {
    background: #ed3d3d;
}

.notyf__toast.notyf--confirm {
    background: #3dc763;
}

.notyf__toast.notyf--disappear {
    -webkit-animation: b .3s 1 forwards;
    animation: b .3s 1 forwards;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.notyf__toast.notyf--disappear .notyf__message {
    opacity: 1;
    -webkit-animation: b .3s 1 forwards;
    animation: b .3s 1 forwards;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.notyf__toast.notyf--disappear .notyf__icon {
    opacity: 1;
    -webkit-animation: d .3s 1 forwards;
    animation: d .3s 1 forwards;
}

.notyf__wrapper {
    display: table;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    border-radius: 3px;
}

.notyf__icon {
    width: 20%;
    text-align: center;
    font-size: 1.3em;
    -webkit-animation: c .5s forwards;
    animation: c .5s forwards;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.notyf__icon,.notyf__message {
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
}

.notyf__message {
    width: 80%;
    position: relative;
    -webkit-animation: a .3s forwards;
    animation: a .3s forwards;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.notyf {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 20%;
    color: #fff;
    z-index: 1;
}

@media only screen and (max-width:736px) {
    .notyf__container {
        width: 90%;
        margin: 0 auto;
        display: block;
        right: 0;
        left: 0;
    }
}

.custom_select {
    padding: 0;
    margin: 0;
    border: none;
    color: #757575;
    width: 100%;
    height: 40px;
    border-radius: 0;
    overflow: hidden;
    background-color: #ebebeb;
}

.custom_select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom_select select:focus {
    outline: none;
}

/* visibility rules */

/* all sections are off by default */

body > section {
    display: none;
}

body.auth                   > section#auth,body.register               > section#register,body.feed                   > section#feed,body.task                   > section#task,body.profile                > section#profile,body.settings               > section#settings,body.transactions           > section#transactions,body.new_task               > section#new_task {
    display: block;
}

/*! normalize.css v2.1.1 | MIT License | git.io/normalize */

footer,header,main,nav,section {
    display: block;
}

[hidden] {
    display: none;
}

html {
    background: #eeeeee;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

b {
    font-weight: bold;
}

code {
    font-family: monospace, serif;
    font-size: 1em;
}

img {
    border: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

p {
    margin: 1em 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

#layout .inner {
    margin-top: 29px;
}

.button {
    color: #65c178;
    background-image: none;
    background-color: #fff;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0 8px;
    display: inline-block;
    border: 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: inset 0px 0px 0px 1px #65c178;
}

.button:link {
    color: #65c178;
}

.button:hover {
    text-decoration: none;
    color: #369249;
    box-shadow: inset 0px 0px 0px 1px #369149;
}

.button.active,.button:active {
    background-color: #65c178;
    box-shadow: none;
    color: #fff;
}

.button:disabled {
    box-shadow: inset 0px 0px 0px 1px #93d3a0;
    color: #93d3a0;
}

.button.active:hover {
    background-color: #71d085;
}

.button.active:active {
    background-color: #59a969;
}

.button.btn-wide {
    width: 100%;
}

.button.btn-no-padding {
    padding: 0;
}

.button .default {
    display: inline;
}

.button:hover .default,.button:active .default {
    display: none;
}

a.button,button.button {
    cursor: pointer;
}

.button [class^="icon-"],.button [class*=" icon-"] {
    vertical-align: text-bottom;
    margin-right: 7px;
    margin-left: 1px;
    font-size: 16px;
}

.button.btn-blue {
    background-color: #5677fc;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    height: 36px;
    line-height: 36px;
    padding: 0 13px;
    border: 0;
}

.button.btn-blue:hover {
    background-color: #738efa;
}

.button.btn-blue:active {
    background-color: #435dc8;
}

.button.btn-blue:disabled {
    background-color: #a0b0f3;
}

.button.btn-orange {
    background-color: #ff6008;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    height: 36px;
    line-height: 36px;
    padding: 0 13px;
}

.button.btn-orange:hover {
    background-color: #fd7d37;
}

.button.btn-orange:active {
    background-color: #ce510c;
}

.button.btn-orange:disabled {
    background-color: #f5a579;
}

.button.btn-no-padding {
    padding: 0 0px;
}

.standart_form .fields_group {
    margin: 17px 0 20px;
}

.standart_form .buttons {
    margin: 0px -17px -17px;
    background: #f7f7f7;
    padding: 20px 17px;
}

.standart_form .buttons .button+.button {
    margin-left: 17px;
}

.standart_form .buttons span.info {
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    font-size: 15px;
    margin-left: 24px;
}

.standart_form .buttons span.info a {
    font-weight: bold;
}

.standart_form .field+.field {
    position: relative;
}

.standart_form .field {
    max-width: 560px;
    position: relative;
}

.standart_form .label {
    color: #464646;
    font-size: 15px;
    font-weight: bold;
}

.standart_form .description {
    font-size: 15px;
    line-height: 21px;
    display: block;
    color: #999999;
    margin-top: 3px;
}

.standart_form .input {
    display: block;
    position: relative;
    margin-top: 14px;
}

.standart_form .input input.text {
    background: #ebebeb;
    color: #464646;
    border: 0;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 10px;
    display: block;
    width: 100%;
}

.standart_form .input input.text:focus {
    outline: none;
    background-color: #f2f2f2;
}

.standart_form .input input.text:disabled {
    background-color: #f8f8f8;
    color: #b2b2b2;
}

.standart_form .field_error input.text,.standart_form .input .field_error input.text {
    background: #ffedeb;
}

.standart_form .input textarea.text {
    background: #ebebeb;
    color: #464646;
    font-size: 15px;
    border: 0;
    padding: 10px 10px;
    width: 100%;
    max-height: 400px;
    resize: none;
}

.standart_form .input textarea.text:focus {
    outline: none;
    background-color: #f2f2f2;
}

.standart_form .js-select2 {
    width: 100%;
}

.standart_form .input.select_with_input select {
    width: 177px;
    display: inline-block;
}

.standart_form .input.select_with_input input.text {
    margin-right: 14px;
    width: 369px;
    display: inline-block;
}

.standart_form .input.select_with_input select+input.text {
    margin-left: 14px;
    margin-right: 0;
}

.standart_form .fields_title {
    color: #48525b;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.standart_form .fields_text {
    font-size: 13px;
    display: block;
    color: #aeb8bc;
    margin-bottom: 20px;
}

.standart_form .field .input.date input[type="text"],.standart_form .field .input.date input[type="password"] {
    width: 150px;
}

.standart_form .field .input.price input[type="text"] {
    width: 150px;
}

.standart_form .field .input.price select,.standart_form .field .input.price .js-select2 {
    width: 150px;
}

.standart_form .field .input.salary_from_to {
    font-size: 0;
}

.standart_form .field .input.salary_from_to input.text {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}

.standart_form .field .input.salary_from_to select {
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 192px;
}

.section {
    background: #fff;
    padding: 17px 17px;
    margin-bottom: 14px;
    position: relative;
    border: 0;
    box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);
}

.section.form_mode {
    z-index: 3;
}

.section.no_padding {
    padding: 0;
}

.section.page {
    padding: 20px 20px;
}

.section .left_section {
    font-size: 16px;
    width: 50%;
    padding-right: 14px;
    display: inline-block;
    vertical-align: top;
}

.section .right_section {
    font-size: 16px;
    width: 50%;
    padding-left: 14px;
    display: inline-block;
    vertical-align: top;
}

.section .head {
    border-bottom: 1px solid #ededed;
    position: relative;
    display: block;
    min-height: 34px;
}

body.auth .section .head,body.register .section .head {
    border-bottom: 1px solid #ededed;
    position: relative;
    display: block;
    min-height: 34px;
    float: left;
    width: 100%;
    margin-bottom: 16px;
}

.section .head {
    border-bottom: 1px solid #ededed;
    position: relative;
    display: block;
    min-height: 34px;
}

.section .head:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.section .head .right {
    float: right;
}

.section .head .right .button {
    position: relative;
    top: -7px;
}

.section .head .right .settings {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.section .head .title {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: #464646;
}

.no_content {
    text-align: center;
    padding: 50px 0;
}

.no_content .icon {
    text-align: center;
}

.no_content .icon img {
    display: block;
    margin: 0px auto 25px;
}

.no_content .title {
    font-size: 25px;
    color: #464646;
    width: 330px;
    margin: 0px auto 7px;
}

.no_content .text {
    font-size: 15px;
    color: #999999;
    line-height: 21px;
    width: 350px;
    margin: auto;
}

.no_content .buttons {
    margin-top: 20px;
}

.no_content .buttons .button+.button {
    margin-left: 14px;
}

html {
    text-align: center;
    height: 100%;
}

body {
    min-width: 1024px;
    min-height: 100%;
    height: auto;
    position: relative;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1463d9;
}

a:link {
    text-decoration: none;
    color: #1463d9;
}

a:hover {
    text-decoration: underline;
}

a:hover,a:active,a:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.clear {
    clear: both;
}

body>.content {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 14px auto 0;
    padding: 0 10px;
    position: relative;
    text-align: left;
}

body>.content>.main {
    width: auto;
}

body>.content>.main.left {
    margin-right: 314px;
}

body>.content>.main.right {
    margin-left: 314px;
}

body>.content>.main.wide {
    width: 948px;
}

body>.content>.sidebar {
    min-height: 1px;
    width: 300px;
    float: left;
}

body>.content>.sidebar.right {
    float: right;
}

.header {
    background: #fff;
    border-bottom: 1px solid #dbe1e2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header .inner {
    box-sizing: border-box;
    max-width: 1100px;
    padding: 0 10px;
    margin: auto;
    position: relative;
    text-align: left;
}

.header .inner .top_logo {
    display: block;
    position: absolute;
    top: 22px;
    left: 10px;
    height: 21px;
    width: 104px;
}

.header .inner {
    height: 67px;
}

.header .inner {
    height: 67px;
}

.header .inner .top_main_menu {
    margin-left: 129px;
    width: 373px;
    height: 67px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.header .inner .top_main_menu a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
    display: block;
    float: left;
    line-height: 13px;
    padding-top: 29px;
    padding-bottom: 21px;
    border-bottom: 4px solid transparent;
}

.header .inner .top_main_menu a.active {
    color: #464646;
    border-bottom: 4px solid #1463d9;
}

.header .inner .top_main_menu a:hover {
    color: #464646;
    text-decoration: none;
}

.header .inner .top_main_menu a+a {
    margin-left: 24px;
}

.header .inner .right {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
    height: 67px;
    width: 530px;
}

.header .inner .right .user_panel {
    padding-top: 24px;
}

.header .inner .right .user_panel .icon {
    display: block;
    float: right;
    color: #9a9a9a;
    margin-left: 24px;
}

.header .inner .right .user_panel .icon:hover {
    text-decoration: none;
}

.header .inner .right .user_panel .icon {
    position: relative;
}

.header .inner .right .user_panel .dropdown {
    display: block;
    float: right;
    margin-left: 24px;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    color: #464646;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header .inner .right .user_panel .dropdown .toggler {
    cursor: pointer;
    display: inline-block;
}

.header .inner .right .user_panel .dropdown .toggler .label {
    position: relative;
}

.header .inner .right .user_panel .dropdown.user_menu {
    margin-left: 65px;
}

.header .inner .right .user_panel .dropdown.user_menu .avatar {
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    left: -45px;
    top: -8px;
    border-radius: 36px;
    overflow: hidden;
    background-size: cover;
}

body>.footer_height {
    height: 286px;
}

body>.footer_height>.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px 0 20px;
    text-align: center;
}

body>.footer_height>.footer .inner {
    max-width: 1100px;
    padding: 0 10px;
    margin: auto;
    text-align: left;
}

.info_text_page {
    font-size: 17px;
    line-height: 23px;
    color: #464646;
    margin-top: 25px;
    max-width: 80%;
    overflow: hidden;
}

.info_text_page h1,.info_text_page h2,.info_text_page h3,.info_text_page p {
    margin: 18px 0;
}

.info_text_page h1:last-child,.info_text_page h2:last-child,.info_text_page h3:last-child,.info_text_page p:last-child {
    margin-bottom: 0;
}

.info_text_page h1:first-child,.info_text_page h2:first-child,.info_text_page h3:first-child,.info_text_page p:first-child {
    margin-top: 0;
}

.info_text_page p {
    margin: 0px;
}

.info_text_page p+p {
    margin-top: 18px;
}

.info_text_page p+h3 {
    margin-top: 18px;
}

.info_text_page h3 {
    margin: 0;
    font-size: 17px;
    line-height: 23px;
}

.info_text_page h3+p {
    margin-top: 8px;
}

.info_text_page a {
    font-weight: bold;
}

.section.info_page code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

.section.user_settings_menu_profile .menu,.section.user_settings_menu_account .menu {
    margin: -17px -17px;
}

.section.user_settings_menu_profile .menu a:after,.section.user_settings_menu_account .menu a:after {
    content: "";
    height: 1px;
    background-color: #ededed;
    display: block;
    position: absolute;
    left: 17px;
    right: 17px;
    top: 0px;
}

.section.user_settings_menu_profile .menu a:first-child:after,.section.user_settings_menu_account .menu a:first-child:after {
    display: none;
}

.section.user_settings_menu_profile .menu a:hover+a:after,.section.user_settings_menu_profile .menu a.active+a:after,.section.user_settings_menu_account .menu a:hover+a:after,.section.user_settings_menu_account .menu a.active+a:after {
    display: none;
}

.section.user_settings_menu_profile .menu a,.section.user_settings_menu_account .menu a {
    display: block;
    font-size: 15px;
    padding: 17px 17px;
    font-weight: bold;
    color: #999999;
    position: relative;
    overflow: hidden;
}

.section.user_settings_menu_profile .menu a:hover,.section.user_settings_menu_account .menu a:hover {
    text-decoration: none;
    color: #464646;
    background-color: #f4f4f4;
}

.section.user_settings_menu_profile .menu a:hover:after,.section.user_settings_menu_account .menu a:hover:after {
    display: none;
}

.section.user_settings_menu_profile .menu a.active,.section.user_settings_menu_account .menu a.active {
    background-color: #5677fc;
    color: #fff;
}

.section.user_settings_menu_profile .menu a.active:after,.section.user_settings_menu_account .menu a.active:after {
    display: none;
}

.user_info {
    text-align: center;
    padding: 30px 17px 17px;
    position: relative;
}

.user_info .right {
    position: absolute;
    right: 20px;
    top: 29px;
}

.user_info .right .settings_icon {
    cursor: pointer;
    display: block;
    font-size: 20px;
    color: #9a9a9a;
}

.user_info .right .settings_icon:hover {
    text-decoration: none;
}

.user_info .avatar {
    border-radius: 150px;
    width: 150px;
    height: 150px;
    border: 0;
    overflow: hidden;
    margin: 0px auto 27px;
    position: relative;
    display: block;
}

.user_info .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 116px;
}

.user_info .user_name {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: #464646;
    overflow: hidden;
}

.user_info .user_name a {
    color: #464646;
}

.user_info .profession {
    color: #999999;
    font-size: 15px;
    margin: 2px auto 0;
    position: relative;
    overflow: hidden;
}

.user_info .homepage {
    margin: 8px auto 0;
}

.user_info .homepage a {
    font-weight: bold;
}

.user_info .buttons {
    margin-top: 15px;
}

.user_info .buttons .button {
    display: inline-block;
    vertical-align: middle;
}

.user_info .buttons .button+.button {
    margin-left: 6px;
}

.user_info .salary {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.user_info .salary:before {
    content: "";
    width: 156px;
    height: 1px;
    background: #dcdfe0;
    display: block;
    margin: 0 auto 17px;
}

.user_info .salary .status {
    margin-top: 1px;
    color: #999999;
}

.user_info .salary .status a {
    color: #999999;
}

.jobs.show_marked .job+.job.marked .inner {
    border-top: 0;
}

.jobs.show_marked .job.marked+.job .inner {
    border-top: 0;
}

.jobs.show_marked .job.marked+.job.marked {
    border-top: 1px solid #fff;
}

.jobs.show_marked .job.marked+.job.marked .inner {
    border-top: 0;
}

.jobs.show_marked .job.marked {
    background-color: #fff8e0;
}

.jobs.show_marked .job.marked:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #fdb814;
}

.jobs .job+.job .inner {
    border-top: 1px solid #ededed;
}

.jobs .job.new:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #52b2f2;
}

.jobs .job {
    padding: 0px 17px;
    margin: 0 -17px;
    position: relative;
}

.jobs .job:last-child {
    margin-bottom: -17px;
}

.jobs .job .inner {
    padding: 24px 0 21px;
    position: relative;
    min-height: 111px;
}

.jobs .job .inner .job_icon {
    position: absolute;
    left: 0;
    top: 30px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 4px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.jobs .job .inner .date {
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #999999;
}

.jobs .job .inner .info {
    margin-left: 65px;
    margin-right: 150px;
    overflow: hidden;
    font-size: 15px;
    z-index: 2;
}

.jobs .job .inner .info .title {
    font-weight: bold;
    font-size: 21px;
}

.jobs .job .inner .info .title a {
    color: #464646;
}

.jobs .job .inner .info .title a:visited {
    color: #999999;
}

.jobs .job .inner .info .company_name {
    margin-top: 19px;
    font-weight: bold;
}

.jobs .job .inner .info .company_name a {
    color: #999;
}

.jobs .job .inner .info .meta {
    margin-top: 5px;
    color: #999999;
}

.jobs .job .inner .info .meta a {
    color: #999;
}

.jobs .job .inner .info .salary {
    margin-top: 5px;
    font-weight: bold;
    color: #68c07b;
}

.job_show_header .right {
    float: right;
    font-weight: bold;
    font-size: 15px;
    margin-top: 6px;
}

.job_show_header .body {
    padding: 17px 17px;
}

.job_show_header .body .title {
    margin: 0;
    padding: 0;
    font-size: 21px;
    color: #464646;
    font-weight: bold;
    margin-right: 140px;
}

.job_show_header .body .body_meta {
    margin-top: 5px;
    color: #999999;
    font-size: 15px;
}

.job_show_header .footer_meta {
    background: #f7f7f7;
    padding: 17px 17px;
    color: #464646;
    font-size: 15px;
    overflow: hidden;
}

.job_show_header .footer_meta .salary {
    float: right;
    color: #68c07b;
    font-weight: bold;
}

.job_show_description .body .list_description,.job_show_description .body .vacancy_description {
    padding-top: 26px;
    font-size: 17px;
    line-height: 23px;
    color: #464646;
    margin: 0px;
}

.job_show_description .body .list_description p+p,.job_show_description .body .vacancy_description p+p {
    margin-top: 18px;
}

.job_show_description .body .list_description p+h3,.job_show_description .body .vacancy_description p+h3 {
    margin-top: 18px;
}

.job_show_description .body .list_description h3,.job_show_description .body .vacancy_description h3 {
    margin: 0;
    font-size: 17px;
    line-height: 23px;
}

.job_show_description .body .list_description h3+p,.job_show_description .body .vacancy_description h3+p {
    margin-top: 8px;
}

.job_show_description .body .list_description a,.job_show_description .body .vacancy_description a {
    font-weight: bold;
}

#sticky_footer_placeholder {
    height: 90px;
}

#sticky_footer_wrapper {
    position: relative;
    background: rgba(0,0,0,0.1);
    margin-bottom: 14px;
}

.sticky_footer {
    background: #f7f7f7;
    height: 76px;
    overflow: hidden;
    box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);
}

.footer_buttons {
    background: #f7f7f7;
    margin: 0 -17px -17px;
    padding: 20px 17px;
    overflow: hidden;
    text-align: right;
}

.footer_buttons .button+.button {
    margin-left: 10px;
}

.company_info {
    text-align: center;
    padding: 30px 17px 15px;
    position: relative;
}

.company_info .right {
    position: absolute;
    right: 20px;
    top: 29px;
}

.company_info .right .settings_icon {
    cursor: pointer;
    display: block;
    font-size: 20px;
    color: #9a9a9a;
}

.company_info .right .settings_icon:hover {
    text-decoration: none;
}

.company_info .logo {
    background-color: #fff;
    display: block;
    text-align: center;
    min-height: 50px;
    line-height: 50px;
    overflow: hidden;
    max-width: 150px;
    margin: 0 auto 27px;
}

.company_info .logo img {
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    vertical-align: middle;
}

.company_info .company_name {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: #464646;
    overflow: hidden;
}

.company_info .company_name a {
    color: #464646;
}

.company_info .buttons {
    margin-top: 15px;
}

.company_info .buttons .button {
    display: inline-block;
    vertical-align: middle;
}

.company_info .buttons .button+.button {
    margin-left: 6px;
}

.section.top_menu {
    padding: 0px 17px;
    position: relative;
    height: 49px;
}

.section.top_menu .right {
    float: right;
}

.section.top_menu .right .link {
    line-height: 49px;
    height: 49px;
    font-size: 15px;
    font-weight: bold;
}

.nav_logo {
    position: absolute;
    top: -2px;
    left: 10px;
    color: #464646;
    font-weight: bold;
}

.task_salary {
    position: absolute;
    right: 0;
    top: 60px;
    font-size: 15px;
    color: #68c07b;
    font-weight: bold;
}

.task_description {
    color: #999999;
}

.task_footer {
    margin: 20px -17px -17px;
    background: #f7f7f7;
    padding: 20px 17px;
}

.task_avatar {
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 36px;
    overflow: hidden;
    background-size: cover;
    float: left;
}

.task_owner {
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
    line-height: 36px;
    color: #464646;
}

.task_salary_wrapper {
    color: #68c07b;
    font-weight: bold;
}

.task_footer a {
    text-decoration: none;
}

.feed_content {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 14px auto 0;
    padding: 0 10px;
    position: relative;
    text-align: left;
}

.task_content {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 14px auto 0;
    padding: 0 10px;
    position: relative;
    text-align: left;
}

.settings_content {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 14px auto 0;
    padding: 0 10px;
    position: relative;
    text-align: left;
}

.settings_content .field {
    max-width: 100%;
}

.transactions_inner {
    padding: 24px 0 21px;
    position: relative;
    min-height: 80px !important;
}

.new_task_group .field {
    max-width: 100%;
    margin-bottom: 20px;
}

#userLink,#userBalance {
    color: #999999;
}

#userLink:hover,#userBalance:hover {
    color: black;
}

.empty_list {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #999999;
}

.header .inner .right .user_panel .dropdown.user_menu .balance {
    float: right;
}

.header .inner .right .user_panel .dropdown.user_menu .balance-wrapper {
    display: block;
    position: absolute;
    left: -260px;
    overflow: hidden;
    width: 200px;
    background-size: cover;
}

.section .body {
    text-align: left;
}

.devider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #ededed;
}

.commit_section,#logoutBtn {
    margin: 20px auto;
    width: 200px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.transaction_description {
    position: absolute;
    top: -10px;
    left: 100px;
    margin-top: 40px;
    color: #999999;
}

.transaction_price {
    position: absolute;
    top: 30px;
    left: 20px;
    color: red;
}

.spend {
    color: red;
}

.obtain {
    color: #0d8927;
}